<!doctype HTML>
<html>
<head>
	<title>{PAGETITLE}</title>
</head>

<body>

	<!--#THIS IS A INTERNAL COMMENT AND GUESTS CANNOT SEE IT#-->
	<!--THIS IS HTML COMMENTS AND GUEST CAN SEE IT IF MINIFY IS OFF-->

	<!--SHOW VARIABLES-->
	<h2>{H2_MESSAGE}</h2>
	<strong>{MY_TEXT}</h2>

	<br /><br />

	<!--IF VALUE IS BIGGER THAN ONE-->
	[IF {VALUE} > 1]
		It is more than one
	[/END]

	<br /><br />

	<!--IF VALUE_2 IS ONE-->
	[IF {VALUE_2} == 1]
		It is just one :c
	[/END]

	<br /><br />

	<!--IF VALUE_3 IS TRUE-->
	[IF {VALUE_3} == true]
		Variable is true, yay!
	[/END]

	<!--#REMOVE PHP TAGS-->
	<?php echo 'hello world!'; ?>
</body>

</html>
